.parent{
   
    background-color: gold;
    padding: 10px;
    display: flex;
    height: 100px;
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
    /* flex-flow: column wrap;
    justify-content:space-around ;
    align-content:center ; */
    }
    /* https://youtu.be/BjWex7Pz8iY?list=PLlvFEn0NKwXLq95il1apZ1KnPUdh5Matl&t=1756 */
.parent div{
    padding: 10px;
    margin: 10px;
}
.item1{
    background-color: rgb(227, 104, 15);
    /* align-self:flex-end ; */
    /* align-self:center; */
    order: 1;

}
.item2{
    background-color: rgb(103, 45, 196);
    /* align-self:start; */
    order: 0;
}
.item3{
    background-color: rgb(25, 100, 100);
    /* align-self:end; */
    order: 1;
}
.item4{
    background-color: red;
}